@model QuanLyClothesShop.Views.Shared.SANPHAM

@{
    ViewBag.Title = "ThemSanPham_KQ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="margin-left:100px; margin-top:20px;">THÊM SẢN PHẨM THÀNH CÔNG</h2>
