@{
    ViewBag.Title = "TaoDonDatHang";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<hr />
<h2 style="margin-left:120px; margin-top:20px;">Chúc mừng bạn @ViewBag.name đã đặt hàng thành công</h2>
<a class="btn btn-primary btn-block btn-login" href="/SanPham/SanPhamPartial" style="margin-top:50px">Quay Về</a>
