@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<br />
<img src="~/Content/Images/EmptyCart.png" width="100%" />
<br /><br />
<h1>GIỎ HÀNG CỦA BẠN ĐANG RỖNG</h1>

<br />
    <hr />
    <h2>Hệ Thống Cửa Hàng</h2>
                <p style="font-size:xx-large">
                        <p style="font-weight:bold">Chi Nhánh Hồ Chí Minh</p>
                        17 Bắc Hải, Phường 15, Quận 10, TP.Hồ Chí Minh<br />
                        7 Huỳnh Khương Ninh, Phường Đakao, Quận 1, TP. Hồ Chí Minh<br />
                        132 Nguyễn Sơn, Phường Phú Thọ Hòa, Quận Tân Phú, TP.Hồ Chí Minh<br />
                        41 Quang Trung, Phường 10, Quận Gò Vấp, TP.Hồ Chí Minh<br />
                        26 Lý Tự Trọng, Phường Bến Nghé, Quận 1, TP.Hồ Chí Minh<br />
                        Central Market Lê Lai (Số 4 Phạm Ngũ Lão), Phường Phạm Ngũ Lão, Quận 1, TP.Hồ Chí Minh<br /><br />
                        <p style="font-weight:bold">Chi Nhánh Biên Hòa:</p>
                        235 Phan Trung, Phường Tân Tiến, TP. Biên Hòa, Đồng Nai<br /><br />
                        <p style="font-weight:bold">Chi Nhánh Hà Nội:</p>
                        49-51 Hồ Đắc Di, Nam Đồng, Đống Đa, Hà Nội.<br />
                        121 Phố Huế, Hai Bà Trưng, Hà Nội<br />
                        Tầng 7 Vincom Bà Triệu, Hai Bà Trưng, Hà Nội<br />
                        28 Khúc Thừa Dụ, Dịch Vọng, Cầu Giấy<br />
                        <b style="font-weight:bold">SĐT: </b>0933 800 190 - 1900252557<br />
                        <b style="font-weight:bold">Email: </b>Dirtycoinsxinchao@gmail.com<br />
                 </p>
