@{
    ViewBag.Title = "LienHePatial";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


 <section id="contact" style="margin-top:30px">
       <div class="container wow slideInLeft
           ''">
           <h3 class="text-center text-uppercase">Liên Hệ</h3>
           <p class="text-center w-75 m-auto">Shop Do - Trung Hân Hạnh Phục Vụ Quý Khách.</p>
           <div class="row">
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Điện Thoại</h4>
                    <p>+8801683615582,+8801750603409</p>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Địa Chỉ Số 1</h4>
                   <address>Suite 02, Level 12, Sahera Tropical Center </address>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">Địa Chỉ Số 2</h4>
                    <address>Suite 02, Level 12, Lê trọng Tấn </address>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">email</h4>
                    <p>http://al.a.noman1416@gmail.com</p>
                  </div>
                </div>
             </div>
           </div>
       </div>
       </section>

<br />
    <hr />
    <h2>Hệ Thống Cửa Hàng</h2>
                <p style="font-size:xx-large">
                        <p style="font-weight:bold">Chi Nhánh Hồ Chí Minh</p>
                        17 Bắc Hải, Phường 15, Quận 10, TP.Hồ Chí Minh<br />
                        7 Huỳnh Khương Ninh, Phường Đakao, Quận 1, TP. Hồ Chí Minh<br />
                        132 Nguyễn Sơn, Phường Phú Thọ Hòa, Quận Tân Phú, TP.Hồ Chí Minh<br />
                        41 Quang Trung, Phường 10, Quận Gò Vấp, TP.Hồ Chí Minh<br />
                        26 Lý Tự Trọng, Phường Bến Nghé, Quận 1, TP.Hồ Chí Minh<br />
                        Central Market Lê Lai (Số 4 Phạm Ngũ Lão), Phường Phạm Ngũ Lão, Quận 1, TP.Hồ Chí Minh<br /><br />
                        <p style="font-weight:bold">Chi Nhánh Biên Hòa:</p>
                        235 Phan Trung, Phường Tân Tiến, TP. Biên Hòa, Đồng Nai<br /><br />
                        <p style="font-weight:bold">Chi Nhánh Hà Nội:</p>
                        49-51 Hồ Đắc Di, Nam Đồng, Đống Đa, Hà Nội.<br />
                        121 Phố Huế, Hai Bà Trưng, Hà Nội<br />
                        Tầng 7 Vincom Bà Triệu, Hai Bà Trưng, Hà Nội<br />
                        28 Khúc Thừa Dụ, Dịch Vọng, Cầu Giấy<br />
                        <b style="font-weight:bold">SĐT: </b>0933 800 190 - 1900252557<br />
                        <b style="font-weight:bold">Email: </b>Dirtycoinsxinchao@gmail.com<br />
                 </p>

